<script>

	customElements.define('audio-player', class extends HTMLElement {

		connectedCallback() {
			const tmpl = document.createElement('template');
			tmpl.innerHTML = `
<style>
	#mini-audio-bar {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	button {
		cursor: pointer;
		border: 0;
	}

	button.control {
		display: none;
		background: transparent;
		padding: 12px;
		transition: transform 200ms ease-out;
	}

	.control:hover {
		transform: scale(1.1);
	}

	#error {
		display: none;
		margin: 1em 16px;
	}

	#data[play-state=playing]~#mini-audio-bar button[aria-label=pause] {
		display: block;
	}

	#data[play-state=paused]~#mini-audio-bar button[aria-label=play] {
		display: block;
	}

	#data[play-state=loading]~#mini-audio-bar button[aria-label=pause] {
		display: block;
		pointer-events: none;
		cursor: default;
		fill: #777;
	}

	#data[play-state=error]~#mini-audio-bar #error {
		display: block;
	}

	#vertical {
		display: flex;
		flex-direction: column;
		margin-right: 16px;
	}

	#audio-player-podcast-title {
		font-size: 11px;
		padding: 6px 0 4px 0;
	}

	#episode-title {
		margin-bottom: 8px;
	}

	#playback-rate {
		padding: 8px;
		margin-left: 8px;
		border: 1px solid #0009;
		background: transparent;
		border-radius: 2px;
		min-width: 46px;
	}

	#large-audio-player {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #FFF;
		transform: translateY(102vh);
		transition: transform 400ms cubic-bezier(0.26, 0.88, 0.58, 1);
		overflow: scroll;
	}

	#data[page-path=large]~#large-audio-player {
		transform: translateY(0);
	}

	#close-audio-btn {
		margin: 8px;
		padding: 12px;
		background: transparent;
	}

	#close-audio-btn:hover {
		background: #EEE9;
		border-radius: 50%;
	}

	#episode-content {
		margin: auto;
		padding: 16px;
		max-width: 400px;
		line-height: 1.7em;
	}
</style>

<div id="data"></div>

<div id="mini-audio-bar">
	<button id="playback-rate" aria-label="change playback rate">1x</button>
	<button class="control" aria-label="play">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<g fill="none" fill-rule="evenodd">
				<path d="M0 0h24v24H0z" />
				<path fill="#000" fill-rule="nonzero" d="M8 5v14l11-7z" />
			</g>
		</svg>
	</button>
	<button class="control" aria-label="pause">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<g fill-rule="evenodd">
				<path fill-rule="nonzero" d="M6 19h4V5H6v14zm8-14v14h4V5h-4z" />
			</g>
		</svg>
	</button>

	<p id="error">Error</p>

	<div id="vertical">
		<span id="audio-player-podcast-title"></span>
		<span id="episode-title"></span>
	</div>
</div>

<div id="large-audio-player">
	<button id="close-audio-btn">
		<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
			<path d="M0 0h24v24H0z" fill="none" />
		</svg>
	</button>
	<div id="episode-content"></div>
</div>
			`;
			this.attachShadow({ mode: 'open' });
			this.shadowRoot.appendChild(tmpl.content.cloneNode(true));

			const data = this.shadowRoot.getElementById('data');

			const audio = new Audio();

			window.onbeforeunload = () => {
				// if audio is playing
				if (!audio.paused) return 'Audio is playing. Quit?';
			};

			window.addEventListener('audio-player', e => {
				this.removeAttribute('idle');
				this.shadowRoot.getElementById('audio-player-podcast-title').textContent = e.detail.podcastTitle;

				const episodeJson = e.detail.episodeJson;
				this.shadowRoot.getElementById('episode-title').textContent = episodeJson.title;
				this.shadowRoot.getElementById('episode-content').innerHTML = episodeJson.contentEncoded;

				audio.src = episodeJson.url;
				audio.play().catch(error => {
					data.setAttribute('play-state', 'error');
					console.log(error);
				});

				if ('mediaSession' in navigator) {

					navigator.mediaSession.metadata = new MediaMetadata({
						title: episodeJson.title,
						album: e.detail.podcastTitle,
						artwork: [
							{ src: e.detail.artworkUrl200.replace('200x200', '512x512'), sizes: '512x512', type: 'image/jpg' },
						]
					});

					navigator.mediaSession.setActionHandler('seekbackward', () => {
						// User clicked "Seek Backward" media notification icon.
						audio.currentTime = Math.max(audio.currentTime - 10, 0);
					});
					navigator.mediaSession.setActionHandler('seekforward', () => {
						// User clicked "Seek Forward" media notification icon.
						audio.currentTime = Math.min(audio.currentTime + 10, audio.duration);
					});
				}
			});

			const playBtn = this.shadowRoot.querySelector('button[aria-label=play]');
			playBtn.addEventListener('click', e => {
				e.stopPropagation();
				audio.play();
			});

			const pauseBtn = this.shadowRoot.querySelector('button[aria-label=pause]');
			pauseBtn.addEventListener('click', e => {
				e.stopPropagation();
				audio.pause();
			});

			const playbackRateBtn = this.shadowRoot.getElementById('playback-rate');
			playbackRateBtn.addEventListener('click', e => {
				e.stopPropagation();

				const currentPlayRate = parseFloat(playbackRateBtn.textContent);

				if (currentPlayRate == 1) audio.playbackRate = 1.25;
				else if (currentPlayRate == 1.25) audio.playbackRate = 1.5;
				else if (currentPlayRate == 1.5) audio.playbackRate = 2;
				else if (currentPlayRate == 2) audio.playbackRate = 3;
				else if (currentPlayRate == 3) audio.playbackRate = 1;
			});

			audio.addEventListener('playing', e => data.setAttribute('play-state', 'playing'));

			audio.addEventListener('pause', e => data.setAttribute('play-state', 'paused'));

			audio.addEventListener('waiting', e => data.setAttribute('play-state', 'loading'));

			audio.addEventListener('error', e => data.setAttribute('play-state', 'error'));

			audio.addEventListener('ratechange', e => {
				playbackRateBtn.textContent = audio.playbackRate + 'x';
			});

			const miniAudioBar = this.shadowRoot.getElementById('mini-audio-bar');
			miniAudioBar.addEventListener('click', e => data.setAttribute('page-path', 'large'));

			const closeAudioBtn = this.shadowRoot.getElementById('close-audio-btn');
			closeAudioBtn.addEventListener('click', e => data.setAttribute('page-path', ''));
		}
	});


</script>