<script>

	customElements.define('episode-list', class extends HTMLElement {

		connectedCallback() {
			const tmpl = document.createElement('template');
			tmpl.innerHTML = `
<style>
	#podcastHeader {
		margin: 0 16px;
	}

	#podcastEpisodes,
	#podcastLoading {
		display: none;
		padding-top: 16px;
	}

	@keyframes flickerAnimation {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}

	#podcastLoading {
		animation: flickerAnimation 1s infinite;
		animation-timing-function: ease;
	}

	#podcastEpisodes[state=loading]~#podcastLoading,
	#podcastEpisodes[state=loaded] {
		display: flex;
		flex-direction: column;
	}

	#podcastListError {
		display: none;
	}

	#podcastEpisodes[state=error]~#podcastListError {
		display: block;
		text-align: center;
	}

	h1 {
		margin: 0;
		font-weight: 300;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		cursor: default;

		/* fallback */
		line-height: 1.2em;
		/* fallback */
		max-height: 2.4em;

		/* number of lines to show */
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	#header-row {
		display: flex;
		flex-direction: row;
	}

	#header-column {
		margin-left: 16px;
	}

	.episodeRow {
		display: flex;
		margin: 0;
		padding: 16px;
		cursor: default;
		align-items: start;
	}

	.episodeRow:hover {
		background: #EEE;
		border-radius: var(--border-radius);
	}

	.episode-vertical {
		flex: 1;
		margin: 0 16px;
	}

	.episode-title {
		margin: 0;
		font-size: 15px;
	}

	.duration-text {
		margin: 0;
		color: #777;
		font-size: 12px;
		min-width: 48px; /* To support 10h 59m */
		text-align: center;
	}

	.episode-subtitle {
		margin: 0;
		margin-top: 4px;
		font-size: 12px;
		color: hsla(0, 0%, 60%, 1);
	}

	button[aria-label=play] {
		border: 0;
		background: transparent;
		cursor: pointer;
		padding: 4px 2px;
	}

	button[aria-label=play]:focus {
		outline: 1px dashed #555;
	}

	.loading-bar {
		background: #DDD;
		height: 1em;
		border-radius: var(--border-radius);
	}

	.episode-subtitle.loading-bar {
		width: 200px;
	}

	#btn-subscribe {
		display: flex;
		background-color: hsl(0, 100%, 50%);
		font-family: 'Roboto', sans-serif;
		color: hsl(0, 0%, 100%);
		border: none;
		border-radius: var(--border-radius);
		font-weight: 500;
		font-size: 1em;
		letter-spacing: .007px;
		text-transform: uppercase;
		padding: 10px 16px;
		cursor: pointer;
	}

	#btn-subscribe[disabled] {
		cursor: auto;
	}

	#sub-count {
		margin-left: 4px;
	}

	#data[podcast-subscribed=idle]~#podcastHeader #btn-subscribe {
		display: none;
	}

	#data[podcast-subscribed=true]~#podcastHeader #btn-subscribe {
		background-color: hsl(0, 0%, 93.3%);
		color: hsla(0, 0%, 6.7%, .6);
	}

	#data[podcast-subscribed=true]~#podcastHeader #subcribe-txt,
	#data[podcast-subscribed=false]~#podcastHeader #subcribed-txt {
		display: none;
	}

	#data[podcast-subscribed=false]~#podcastHeader #sub-count {
		color: hsla(0, 0%, 100%, .8);
	}

	#podcast-img {
		--podcast-img-size: 150px;
		width: var(--podcast-img-size);
		height: var(--podcast-img-size);
		min-width: var(--podcast-img-size);
		background: #DDD;
		border-radius: var(--border-radius);
	}

	#subscribe-row {
		display: flex;
		margin-top: 8px;
		align-items: center;
	}

	button {
		background: transparent;
		cursor: pointer;
		border: 0;
	}

	#push-notif-btn {
		margin-left: 8px;
		padding: 0;
	}

	.icon {
		width: 24px;
		height: 24px;
		padding: 8px;
		fill: #AAA;
	}

	.icon:hover {
		background: #EEE;
		border-radius: 50%;
	}

	#data:not([push-enabled])~#podcastHeader #push-notif-btn,
	#data[push-enabled=false]~#podcastHeader #push-enabled,
	#data[push-enabled=true]~#podcastHeader #push-enable {
		display: none;
	}

	@media (max-width: 500px) {
		h1 {
			font-size: 20px;
		}

		#podcast-img {
			--podcast-img-size: 120px;
		}
	}
</style>

<div id="data" podcast-subscribed="idle"></div>

<div id="podcastHeader">
	<div id="header-row">
		<img id="podcast-img" />

		<div id="header-column">
			<h1 id="podcast-title"></h1>

			<div id="subscribe-row">
				<button id="btn-subscribe">
					<span id="subcribe-txt">SUBSCRIBE</span>
					<span id="subcribed-txt">SUBSCRIBED</span>
					<span id="sub-count">0</span>
				</button>

				<button id="push-notif-btn">
					<svg id="push-enable" class="icon" viewBox="0 0 24 24">
						<g class="style-scope yt-icon">
							<path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
								class="style-scope yt-icon"></path>
						</g>
					</svg>
					<svg id="push-enabled" class="icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
						<g class="style-scope yt-icon">
							<path d="M7.58 4.08L6.15 2.65C3.75 4.48 2.17 7.3 2.03 10.5h2c.15-2.65 1.51-4.97 3.55-6.42zm12.39 6.42h2c-.15-3.2-1.73-6.02-4.12-7.85l-1.42 1.43c2.02 1.45 3.39 3.77 3.54 6.42zM18 11c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2v-5zm-6 11c.14 0 .27-.01.4-.04.65-.14 1.18-.58 1.44-1.18.1-.24.15-.5.15-.78h-4c.01 1.1.9 2 2.01 2z"
								class="style-scope yt-icon"></path>
						</g>
					</svg>
				</button>
			</div>
		</div>
	</div>

</div>
<div id="podcastEpisodes"></div>

<div id="podcastLoading">

	<div class="episodeRow">
		<button aria-label="play">
			<svg class="icon-play" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 85 100">
				<path fill="currentColor" d="M81 44.6c5 3 5 7.8 0 10.8L9 98.7c-5 3-9 .7-9-5V6.3c0-5.7 4-8 9-5l72 43.3z">
					<title>PLAY</title>
				</path>
			</svg>
		</button>
		<div class="episode-vertical">
			<p class="episode-title loading-bar"></p>
			<p class="episode-subtitle loading-bar"></p>
		</div>
	</div>

	<div class="episodeRow">
		<button aria-label="play">
			<svg class="icon-play" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 85 100">
				<path fill="currentColor" d="M81 44.6c5 3 5 7.8 0 10.8L9 98.7c-5 3-9 .7-9-5V6.3c0-5.7 4-8 9-5l72 43.3z">
					<title>PLAY</title>
				</path>
			</svg>
		</button>
		<div class="episode-vertical">
			<p class="episode-title loading-bar"></p>
			<p class="episode-subtitle loading-bar"></p>
		</div>
	</div>

	<div class="episodeRow">
		<button aria-label="play">
			<svg class="icon-play" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 85 100">
				<path fill="currentColor" d="M81 44.6c5 3 5 7.8 0 10.8L9 98.7c-5 3-9 .7-9-5V6.3c0-5.7 4-8 9-5l72 43.3z">
					<title>PLAY</title>
				</path>
			</svg>
		</button>
		<div class="episode-vertical">
			<p class="episode-title loading-bar"></p>
			<p class="episode-subtitle loading-bar"></p>
		</div>
	</div>
</div>

<p id="podcastListError">Podcast List Error!</p>
`;
			this.attachShadow({ mode: 'open' });
			this.shadowRoot.appendChild(tmpl.content.cloneNode(true));

			this.podcastEpisodes = this.shadowRoot.getElementById('podcastEpisodes');
			this.podcastTitle = this.shadowRoot.getElementById('podcast-title');
			this.data = this.shadowRoot.getElementById('data');
			this.subscribeBtn = this.shadowRoot.getElementById('btn-subscribe');

			this.podcastEpisodes.addEventListener('click', e => {
				const playBtn = e.composedPath().find(elem => elem.tagName == 'BUTTON');
				if (playBtn) {
					const episodeJson = JSON.parse(decodeURI(playBtn.getAttribute('episode-xml')));

					window.dispatchEvent(new CustomEvent('audio-player', {
						detail: {
							episodeJson: episodeJson,
							podcastTitle: this.podcastTitle.textContent,
							artworkUrl200: this.shadowRoot.getElementById('podcast-img').getAttribute('src'),
						}
					}));
				}
			});

			const pageStateListener = async e => {

				const pageName = window.location.pathname.split('/')[1];
				if (pageName != 'episode-list') return;

				if (e && e.detail) {
					if (e.detail.podcastTitle) this.setPodcastTitle(e.detail.podcastTitle);

					if (e.detail.artwork) this.shadowRoot.getElementById('podcast-img').setAttribute('src', e.detail.artwork);
				}

				this.fetchPodcastList();
				this.checkIfSubscribed();
			};

			window.addEventListener('page-state', pageStateListener);
			pageStateListener();

			this.subscribeBtn.addEventListener('click', _ => this.setSubscription());

			window.addEventListener('google-auth-ready', e => {
				gAuth.currentUser.listen(currentUser => {
					this.fetchPodcastList();
					this.checkIfSubscribed();
				});
			});

			this.pushNotifBtn = this.shadowRoot.getElementById('push-notif-btn');
			this.pushNotifBtn.addEventListener('click', _ => this.setPushEnabled());
		}

		fetchPodcastList() {
			if (!window.gAuth) return;

			const [, pageName, podcastId] = window.location.pathname.split('/');
			if (pageName != 'episode-list') return;

			this.podcastEpisodes.setAttribute('state', 'loading');

			fetch(apiBase + '/podcast/list?podcastId=' + podcastId, {
				headers: {
					Authorization: (gAuth.currentUser.get().getAuthResponse().id_token) || ''
				}
			}).then(async response => {
				const rootJson = await response.json();
				this.setPodcastTitle(rootJson.title);

				const artworkUrl200 = rootJson.artworkUrl100.replace('100x100', '200x200');
				this.shadowRoot.getElementById('podcast-img').setAttribute('src', artworkUrl200);

				this.podcastEpisodes.innerHTML = rootJson.episodes.map(episode => `
					<div class="episodeRow">
						<button episode-xml="${encodeURI(JSON.stringify(episode))}" aria-label="play">
							<svg class="icon-play" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 85 100">
								<path fill="currentColor" d="M81 44.6c5 3 5 7.8 0 10.8L9 98.7c-5 3-9 .7-9-5V6.3c0-5.7 4-8 9-5l72 43.3z">
									<title>PLAY</title>
								</path>
							</svg>
						</button>
						<div class="episode-vertical">
							<p class="episode-title">${episode.title}</p>
							<p class="episode-subtitle">${getPublishedText(episode.pubDate)} • ${getDurationText(episode.duration)}</p>
						</div>
					</div>
					`
				).join('');
				this.podcastEpisodes.setAttribute('state', 'loaded');
			}).catch(error => {
				console.error(error);
				this.podcastEpisodes.setAttribute('state', 'error');
			});
		}

		setSubscription() {
			if (gAuth.isSignedIn.get()) this.actualSetSubscription();
			else gAuth.signIn().then(_ => this.actualSetSubscription());
		}

		actualSetSubscription() {
			this.subscribeBtn.disabled = true;

			const isSubscribed = this.data.getAttribute('podcast-subscribed') == 'true';
			const podcastId = window.location.pathname.split('/')[2];

			fetch(apiBase + '/podcast/set-subscription', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'Authorization': gAuth.currentUser.get().getAuthResponse().id_token
				},
				body: JSON.stringify({
					podcastId: podcastId,
					subscribe: !isSubscribed
				})
			}).then(async response => {
				const json = await response.json();

				this.data.setAttribute('podcast-subscribed', json.subscription.subscribed);
				this.data.setAttribute('push-enabled', json.subscription.pushEnabled);
				this.shadowRoot.getElementById('sub-count').innerHTML = json.subscriberCount;
			}).finally(() => {
				this.subscribeBtn.disabled = false;
			});
		}

		async checkIfSubscribed() {
			this.data.setAttribute('podcast-subscribed', 'idle');
			this.data.removeAttribute('push-enabled');

			if (!window.gAuth) return;

			const [, pageName, podcastId] = window.location.pathname.split('/');
			if (pageName != 'episode-list') return;

			const response = await fetch(apiBase + '/podcast/subscribed?podcastId=' + podcastId, {
				headers: {
					Authorization: gAuth.currentUser.get().getAuthResponse().id_token || ''
				}
			});
			const rootJson = await response.json();

			this.data.setAttribute('podcast-subscribed', rootJson.subscribed);
			this.data.setAttribute('push-enabled', rootJson.pushEnabled);
			this.shadowRoot.getElementById('sub-count').innerText = rootJson.subscriberCount;

			// TODO handle invalid token
		}

		setPushEnabled() {
			if (!gAuth) return;

			if (gAuth.isSignedIn.get()) this.tryEnablingPush();
			else gAuth.signIn().then(_ => this.tryEnablingPush());
		}

		tryEnablingPush() {
			this.toggleNotificationsEnabled();

			if (!swRegistrationPromise) {
				// TODO Show snackbar: "Cannot enable push notifications"
				return;
			}

			swRegistrationPromise.then(async swRegistration => {
				if (swRegistration.pushManager && !await swRegistration.pushManager.getSubscription()) {
					const applicationServerPublicKey = 'BLwvi7AbTP1tA8t9gCtLamkIjKlzeKQHcZyZMTNoYZgOVyw_t4XzLhZKuYguJvXL0JUuaTp0KlS8yE-5Wglb6qI';
					const applicationServerKey = urlB64ToUint8Array(applicationServerPublicKey);

					swRegistration.pushManager.subscribe({
						userVisibleOnly: true,
						applicationServerKey: applicationServerKey
					}).catch(err => {
						// TODO Show snackbar
						console.log('Failed to subscribe the user: ', err);
					}).then(subscription => {
						console.log('User is subscribed', JSON.stringify(subscription));

						return fetch(apiBase + `/podcast/add-push-subscription`, {
							method: 'POST',
							headers: {
								'Authorization': gAuth.currentUser.get().getAuthResponse().id_token
							},
							body: JSON.stringify(subscription)
						});
					});
				}
			}).catch(error => {
				console.error('Service Worker Error', error);
			});
		}

		toggleNotificationsEnabled() {
			this.pushNotifBtn.disabled = true;

			const podcastId = window.location.pathname.split('/')[2];
			const shouldEnablePush = this.data.getAttribute('push-enabled') != 'true';

			fetch(apiBase + `/podcast/set-push-enabled?podcastId=${podcastId}&enablePush=${shouldEnablePush}`, {
				method: 'POST',
				headers: {
					'Authorization': gAuth.currentUser.get().getAuthResponse().id_token
				}
			}).then(async response => {
				const json = await response.json();

				if (json.subscription) {
					this.data.setAttribute('podcast-subscribed', json.subscription.subscribed);
					this.data.setAttribute('push-enabled', json.subscription.pushEnabled);
				}
				this.shadowRoot.getElementById('sub-count').innerText = json.subscriberCount;
			}).finally(() => {
				this.pushNotifBtn.disabled = false;
			});
		}

		setPodcastTitle(title) {
			this.podcastTitle.innerText = title;
			this.podcastTitle.setAttribute('title', title);
		}
	});

	const maybePluralize = (count, noun, suffix = 's') =>
		`${count} ${noun}${count !== 1 ? suffix : ''}`;

	const months = [
		'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
		'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
	];

</script>