<script>
  customElements.define('podcast-search', class extends HTMLElement {

		connectedCallback() {
			const tmpl = document.createElement('template');
			tmpl.innerHTML = `
<style>
  #search-results-box,
  #loading-view {
    max-width: 500px;
    margin: auto;
    margin-top: 4px;
    display: none;
  }

  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  #loading-view {
    animation: flickerAnimation 1s infinite;
    animation-timing-function: ease;
  }

  #error-view {
    text-align: center;
    display: none;
  }

  #no-podcasts-found {
    display: none;
    text-align: center;
    margin: 16px;
  }

  #search-results-box[state=loaded],
  #search-results-box[state=loading]~#loading-view,
  #search-results-box[state=error]~#error-view,
  #search-results-box[state=loaded]:empty~#no-podcasts-found {
    display: block;
  }

  .podcastCard {
    display: flex;
    padding: 16px;
    border-radius: var(--border-radius);
  }

  .podcastCard:hover {
    background: #EEE;
    cursor: pointer;
  }

  .podcast-search-artwork {
    width: 60px;
    height: 60px;
    background: #DDD;
    border-radius: var(--border-radius);
  }

  .collectionName {
    margin: 0;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  .artistName {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: hsla(0, 0%, 60%, 1);
  }

  .divider {
    height: 1px;
    background: #EEE;
    margin-left: 92px;
    margin-right: 16px;
  }

  .vertical {
    margin-left: 16px;
  }

  .podcastCard>.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 76px);
  }

  .loading {
    background: #DDD;
  }

  .collectionName.loading {
    height: 18px;
    margin-bottom: 8px;
  }

  .artistName.loading {
    width: 60%;
    height: 10px;
  }


</style>

<div id="search-results-box" state="idle"></div>

<div id="loading-view">
  <div class="podcastCard">
    <div class="podcast-search-artwork"></div>
    <div class="vertical">
      <div class="collectionName loading"></div>
      <div class="artistName loading"></div>
    </div>
  </div>
  <div class="divider"></div>

  <div class="podcastCard">
    <div class="podcast-search-artwork"></div>
    <div class="vertical">
      <div class="collectionName loading"></div>
      <div class="artistName loading"></div>
    </div>
  </div>
  <div class="divider"></div>

  <div class="podcastCard">
    <div class="podcast-search-artwork"></div>
    <div class="vertical">
      <div class="collectionName loading"></div>
      <div class="artistName loading"></div>
    </div>
  </div>
</div>

<h3 id="error-view">Sorry, could not search!</h3>

<h3 id="no-podcasts-found">No podcasts found! Please try searching for a specific term.</h3>
      `;
      this.attachShadow({ mode: 'open' });
      this.shadowRoot.appendChild(tmpl.content.cloneNode(true));

      const searchResultsBox = this.shadowRoot.getElementById('search-results-box');

      const pageStateListener = async e => {
        const pathSplits = window.location.pathname.split('/');
        // pathSplits[0] is empty string
        if (pathSplits[1] != 'podcast-search') return;

        const searchTerm = pathSplits[2];

        searchResultsBox.setAttribute('state', 'loading');

        try {
          const response = await fetch(apiBase + '/podcast/query?q=' + searchTerm)
          const podcastsJson = await response.json();
          searchResultsBox.innerHTML = podcastsJson.results.map(podcastItem =>
            `
            <div class="podcastCard" collection-id="${podcastItem.collectionId}">
              <img class="podcast-search-artwork" src="${podcastItem.artworkUrl60.replace('60x60', '100x100')}" />
              <div class="vertical">
                <h3 class="collectionName">${podcastItem.collectionName}</h3>
                <p class="artistName">${podcastItem.artistName}</p>
              </div>
            </div>
            <div class="divider"></div>
            `
          ).join('');
          searchResultsBox.setAttribute('state', 'loaded');
        } catch (err) {
          const errorView = this.shadowRoot.getElementById('error-view');
          if (err.message == 'Failed to fetch') {
            errorView.innerHTML = `Failed to fetch ${searchTerm}!`
          } else {
            errorView.innerHTML = `Sorry, could not search! <br/> ${err}`
          }
          searchResultsBox.setAttribute('state', 'error');
        };
      };

      window.addEventListener('page-state', pageStateListener);
      pageStateListener();

      searchResultsBox.addEventListener('click', e => {
        const clickedCard = e.composedPath().find(elem =>
          elem.classList && elem.classList.contains('podcastCard')
        );
        if (clickedCard) {

          pushState({
            podcastTitle: clickedCard.querySelector('.collectionName').textContent,
            artwork: clickedCard.querySelector('.podcast-search-artwork').getAttribute('src')
          }, null, "episode-list/" + clickedCard.getAttribute('collection-id'));
        }
      });
    }
  });


</script>